.pagActual {
  width: 8%;
  border-radius: 5px;
  border: none;
  background: rgb(137, 6, 121);
  color: hsl(0, 0%, 0%);
  margin: 2px;
  margin-block-end: 10px;
  font-size: 17px;
  display: inline;
  align-items: flex-start;
  justify-content: end;
  cursor: pointer;
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}
.pagActual:hover {
  color: rgb(176, 85, 212);
  box-shadow: 0 0 4px #080101a8;
}

.pagOther {
  width: 8%;
  border-radius: 5px;
  border: none;
  background: rgb(137, 6, 121);
  color: hsl(0, 0%, 0%);
  margin: 2px;
  margin-block-end: 10px;
  font-size: 17px;
  display: inline;
  align-items: flex-start;
  justify-content: end;
  cursor: pointer;
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}
.pagOther:hover {
  color: rgb(176, 85, 212);
  box-shadow: 0 0 4px #080101a8;
}
